## Use python 3.9

torch==2.0.1
torchvision==0.15.2 
torchaudio==2.0.2
torchtext==0.15.2
datasets==2.15.0
tokenizers==0.13.3
torchmetrics==1.0.3
altair==5.1.1
wandb==0.15.9
runpod==1.6.2
requests==2.31.0
asyncio==3.4.3
openai==1.30.1
pandas==2.2.2